[submodule "themes/nix"]
	path = themes/nix
	url = https://github.com/LordMathis/hugo-theme-nix
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/Nimor111/hugo-theme-terminal.git
